body{
    background-image: url('https://img.freepik.com/free-photo/soft-vintage-gradient-blur-background-with-pastel-colored-well-use-as-studio-room-product-presentation-banner_1258-71429.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}
.topSection{
    width: 100%;
    height: 100vh;
}
.car img{
    width: 500px;
    height: auto;
    position: absolute;
    top: 17%;
    right: 3%;
    animation: moving 6s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes moving {
    0%, 100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateX(-10px);
    }
}
.text{
    width: 500px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 7%;
}
.text h1{
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.text p{
    letter-spacing: 0.4px;
}
.text span{
    color: rgb(255, 128, 0);
}
.text .Btn{
    display: flex;
    margin-top: 50px;
}
.Btn button{
    width: 100px;
    height: 30px;
    border: 1px black solid;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
}
.Btn .collection{
    background-color: green;
    color: white;
    border: none;
}
.Btn .buy{
    background-color: transparent;
    margin-left: 40px;
}
.Btn .buy:hover{
    background-color: rgb(212, 241, 250);
}
.navSection{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    
}
nav{
    display: flex;
}
.navSection nav li{
    list-style-type: none;
}
.navSection nav a{
    color: gray;
    text-decoration: none;
    margin: 10px 15px;
    border: solid 1px black;
    padding: 5px 8px;
    border-radius: 3px;
}
.navSection nav a:last-child{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
}
.navSection nav a:hover:not(:last-child){
    background-color: rgba(255, 255, 255,0.3);
}
.middleSection{
    width: 100%;
    height: auto;
    border: none;
    display: flex;
}
.middleSection .item {
    display: flex;
}
.middleSection .section1 img{
    border: none;
    width: auto;
    height: auto;
    margin-top: 0px;      
}
.item-Btn{
    margin: 50px 0;
}
.itemSection{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 100px;
}
.itemSection .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 3px;
    margin: 5px;
}
.itemSection .items img{
    width: 280px;
    height: 200px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.items button{
    width: 100px;
    height: 30px;
    border: 1px black solid;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 0;
    color: black;
    letter-spacing: 1.5px;
}
.items button:hover{
    background-color: rgb(220, 237, 252);
}
.videoSection{
    margin-top: 30px;
}
.videoSection video{
    width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    height: auto;
    
    margin-top: 0;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.footer div{
    margin-top: 40px;
}
.footer li{
    list-style-type: none;
    margin: 5px 0;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: rgb(120, 111, 111);
}
.footer a{
    text-decoration: none;
    color: rgb(120, 111, 111);
}
.footer span{
    color: white;
}
.footer .page span{
    margin-left: 38px;
}
.footer .icons span{
    margin-left: 38px;
}
.mail{
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px 0 0 0;
}
.mail span{
    letter-spacing: 3px;
}